/* Spielfeld Hauptseite */
#spiel {
    background-image: url("../Images/linux.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* Damit Bild immer im Hintergrund ist */
    z-index: -1;
    border-radius: 15px;
    color:black;
    padding: 10px;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#slot1{
    background-color:  rgba(153, 35, 147,0.6);
    width: 10vw;
    height:10vh;
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 40px;
    margin: 10px;
}

#slot2{
    background-color: rgba(153, 35, 147,0.6);
    width: 10vw;
    height:10vh;
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 40px;
    margin: 10px;
}

#slot3{
    background-color: rgba(153, 35, 147,0.6);
    width: 10vw;
    height:10vh;
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 40px;
    margin: 10px;
}

#activate{
    background-color: rgba(153, 35, 147,0.6);
    width: 10vw;
    height:10vh;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 40px;
    margin: 10px;
}

#points{
    background-color: rgba(153, 35, 147,0.6);
    width: 10vw;
    height:10vh;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 40px;
    margin: 10px;
}


#output{
    background-color: rgba(153, 35, 147,0.6);
    width: 10vw;
    height:10vh;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 40px;
    margin: 10px;
}



.spiel_struktur {
    display: flex;
    flex-direction: row;
}

